extends layout.pug
block content 
    div#titulo.center
        h1 Lista de trabajos
    div.boton 
        a.btn.btn-success(href="/cargar") Agregar
    div.container.mt-3
        <table id="myTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Trabajo</th>
                <th>Unidad</th>
                <th>Precio Minimo</th>
                <th>Precio Maximo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            each d in data
                tr(id=`${d.id_trabajo}`)
                    td= d.tipo.nombre
                    td= d.nombre
                    td= d.unidad
                    td= d.precio_min
                    td= d.precio_max
                    td
                        a.btn.btn-info(href=`/update/${d.id_trabajo}`) Modificar
                        a.btn.btn-danger(href=`/delete/${d.id_trabajo}`) Eliminar
        </tbody>
        <tfoot>
            <tr>
                <th>Tipo</th>
                <th>Trabajo</th>
                <th>Unidad</th>
                <th>Precio Minimo</th>
                <th>Precio Maximo</th>
                <th>Opciones</th>
            </tr>
        </tfoot>
        </table>